<div class="flex">
<h2>Line Chart</h2>
<div id="line-chart" class="chart" ></div>
<h2>Pie Chart</h2>
<div id="pie-chart" class="chart" ></div>
<h2>Stacked Column Chart</h2>
<div id="stacked-column" class="chart" ></div>
<h2>Multi-Axes Chart</h2>
<div id="multi-axes" class="chart" ></div>
</div>


<style>
.chart{
    width:80%;
    height:500px;
    margin-bottom:50px;
}
.flex{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
</style>