
<h2>Line Chart</h2>
<div id="line-chart" style="width: 100%; height: 400px;"></div>
<h2>Pie Chart</h2>
<div id="pie-chart" style="width: 100%; height: 400px;"></div>
<h2>Stacked Column Chart</h2>
<div id="stacked-column" style="width: 100%; height: 400px;"></div>
<h2>Bar Chart</h2>
<div id="Bar-chart" style="width: 100%; height:100%;"></div>
